extends layout

block content
  h1(style='text-align:center')= title
  div(class='container')
    form(action='' method='POST')
      div(class='form-group')
        label(for='full_name') Full Name
        input#full_name.form-control(type='text' name='full_name' placeholder='Enter Customer Name' required='true')
        br
        label(for='card_number') Card ID Number
        input#card_number.form-control(type='text' name='card_number' placeholder='Enter card ID' required='true')
        br
        label(for='phone_number') Phone Number
        input#phone_number.form-control(type='text' name='phone_number' placeholder='Enter Phone Number' required='true')
        label(for='destination') Destination
        input#destination.form-control(type='text' name='destination' placeholder='Enter Destination' required='true')
      button.btn.btn-primary.btn-success(type='submit') Add Customer
  